<% content_for :title do %>Template Statuses<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="combined" data-view="Issues" data-title="GitHub" data-moreinfo="Top 20 GitHub PR's & Issues"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="total_pull_requests" data-view="Number" data-title="Total Pull Requests" style="background-color:#96bf48;"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="total_issues" data-view="Number" data-title="Total Issues" data-moreinfo="Does not include Pull Requests"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="github_feed" data-view="GithubFeed" data-title="Github News Feed"></div>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
  </ul>
</div>
